<h2><a>PySpark</a></h2>

<h3><a>Goals:</a></h3>

- Import the dataset
- Create a spark session
- check the schema
- Add a column
- Drop a column
- Rename a column

In [2]:
# !pip install pyspark

Requirement already satisfied: pyspark in /Users/harshitlikhar/opt/anaconda3/lib/python3.8/site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in /Users/harshitlikhar/opt/anaconda3/lib/python3.8/site-packages (from pyspark) (0.10.9.5)

[notice] A new release of pip available: 22.1.2 -> 22.2.1
[notice] To update, run: pip install --upgrade pip

In [6]:
import pyspark
from pyspark.sql import SparkSession

In [8]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

22/07/31 10:15:55 WARN Utils: Your hostname, harshits-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.0.10 instead (on interface en0)
22/07/31 10:15:55 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
22/07/31 10:15:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [9]:
spark

In [59]:
df = spark.read.csv('../weight-height.csv', header =True, inferSchema=True)

In [60]:
df

DataFrame[Gender: string, Height: double, Weight: double]

In [61]:
# df = spark.read.option('header','true').csv('../weight-height.csv',inferSchema=True)

In [62]:
df.show()

+------+----------------+----------------+
|Gender|          Height|          Weight|
+------+----------------+----------------+
|  Male| 73.847017017515|241.893563180437|
|  Male|68.7819040458903|  162.3104725213|
|  Male|74.1101053917849|  212.7408555565|
|  Male|71.7309784033377|220.042470303077|
|  Male|69.8817958611153|206.349800623871|
|  Male|67.2530156878065|152.212155757083|
|  Male|68.7850812516616|183.927888604031|
|  Male|68.3485155115879|167.971110489509|
|  Male| 67.018949662883| 175.92944039571|
|  Male|63.4564939783664|156.399676387112|
|  Male|71.1953822829745|186.604925560358|
|  Male|71.6408051192206|213.741169489411|
|  Male|64.7663291334055|167.127461073476|
|  Male|69.2830700967204|189.446181386738|
|  Male|69.2437322298112|186.434168021239|
|  Male|67.6456197004212|172.186930058117|
|  Male|72.4183166259878|196.028506330482|
|  Male| 63.974325721061| 172.88347020878|
|  Male|69.6400598997523| 185.98395757313|
|  Male|67.9360048540095|182.426648013226|
+------+----------------+----------------+
only showing top 20 rows

In [63]:
type(df)

pyspark.sql.dataframe.DataFrame

In [64]:
df.printSchema()

root
 |-- Gender: string (nullable = true)
 |-- Height: double (nullable = true)
 |-- Weight: double (nullable = true)

In [65]:
df.columns

['Gender', 'Height', 'Weight']

In [66]:
df.head(5)

[Row(Gender='Male', Height=73.847017017515, Weight=241.893563180437),
 Row(Gender='Male', Height=68.7819040458903, Weight=162.3104725213),
 Row(Gender='Male', Height=74.1101053917849, Weight=212.7408555565),
 Row(Gender='Male', Height=71.7309784033377, Weight=220.042470303077),
 Row(Gender='Male', Height=69.8817958611153, Weight=206.349800623871)]

In [67]:
df.select(['Gender','Height']).show()

+------+----------------+
|Gender|          Height|
+------+----------------+
|  Male| 73.847017017515|
|  Male|68.7819040458903|
|  Male|74.1101053917849|
|  Male|71.7309784033377|
|  Male|69.8817958611153|
|  Male|67.2530156878065|
|  Male|68.7850812516616|
|  Male|68.3485155115879|
|  Male| 67.018949662883|
|  Male|63.4564939783664|
|  Male|71.1953822829745|
|  Male|71.6408051192206|
|  Male|64.7663291334055|
|  Male|69.2830700967204|
|  Male|69.2437322298112|
|  Male|67.6456197004212|
|  Male|72.4183166259878|
|  Male| 63.974325721061|
|  Male|69.6400598997523|
|  Male|67.9360048540095|
+------+----------------+
only showing top 20 rows

In [68]:
df.dtypes

[('Gender', 'string'), ('Height', 'double'), ('Weight', 'double')]

In [69]:
df.describe().show()

+-------+------+-----------------+------------------+
|summary|Gender|           Height|            Weight|
+-------+------+-----------------+------------------+
|  count| 10000|            10000|             10000|
|   mean|  null|66.36755975482106|161.44035683283076|
| stddev|  null|3.847528120773333|32.108439006519674|
|    min|Female| 54.2631333250971|   64.700126712753|
|    max|  Male| 78.9987423463896|  269.989698505106|
+-------+------+-----------------+------------------+

In [70]:
df = df.withColumn('BMI',(703*(df['Weight']/df['Height'])))

In [71]:
df.show()

+------+----------------+----------------+------------------+
|Gender|          Height|          Weight|               BMI|
+------+----------------+----------------+------------------+
|  Male| 73.847017017515|241.893563180437| 2302.749410656825|
|  Male|68.7819040458903|  162.3104725213|1658.9285185583867|
|  Male|74.1101053917849|  212.7408555565|2018.0354712165592|
|  Male|71.7309784033377|220.042470303077| 2156.527905603826|
|  Male|69.8817958611153|206.349800623871|2075.8469076393617|
|  Male|67.2530156878065|152.212155757083|1591.0832310324224|
|  Male|68.7850812516616|183.927888604031| 1879.787060446488|
|  Male|68.3485155115879|167.971110489509|  1727.67015918736|
|  Male| 67.018949662883| 175.92944039571| 1845.424275079034|
|  Male|63.4564939783664|156.399676387112|1732.6669913031053|
|  Male|71.1953822829745|186.604925560358|1842.5810559950112|
|  Male|71.6408051192206|213.741169489411|2097.4086193057383|
|  Male|64.7663291334055|167.127461073476| 1814.069234843414|
|  Male|69.2830700967204|189.446181386738|1922.2685329757219|
|  Male|69.2437322298112|186.434168021239|1892.7809911220374|
|  Male|67.6456197004212|172.186930058117| 1789.434591137356|
|  Male|72.4183166259878|196.028506330482|1902.9445362842846|
|  Male| 63.974325721061| 172.88347020878|1899.7789845678842|
|  Male|69.6400598997523| 185.98395757313|1877.4642405839663|
|  Male|67.9360048540095|182.426648013226|1887.7461786116346|
+------+----------------+----------------+------------------+
only showing top 20 rows

In [72]:
# df = df.drop('BMI')

In [73]:
# df.show()

In [74]:
df = df.withColumnRenamed('Height','Heights')

In [75]:
df.show()

+------+----------------+----------------+------------------+
|Gender|         Heights|          Weight|               BMI|
+------+----------------+----------------+------------------+
|  Male| 73.847017017515|241.893563180437| 2302.749410656825|
|  Male|68.7819040458903|  162.3104725213|1658.9285185583867|
|  Male|74.1101053917849|  212.7408555565|2018.0354712165592|
|  Male|71.7309784033377|220.042470303077| 2156.527905603826|
|  Male|69.8817958611153|206.349800623871|2075.8469076393617|
|  Male|67.2530156878065|152.212155757083|1591.0832310324224|
|  Male|68.7850812516616|183.927888604031| 1879.787060446488|
|  Male|68.3485155115879|167.971110489509|  1727.67015918736|
|  Male| 67.018949662883| 175.92944039571| 1845.424275079034|
|  Male|63.4564939783664|156.399676387112|1732.6669913031053|
|  Male|71.1953822829745|186.604925560358|1842.5810559950112|
|  Male|71.6408051192206|213.741169489411|2097.4086193057383|
|  Male|64.7663291334055|167.127461073476| 1814.069234843414|
|  Male|69.2830700967204|189.446181386738|1922.2685329757219|
|  Male|69.2437322298112|186.434168021239|1892.7809911220374|
|  Male|67.6456197004212|172.186930058117| 1789.434591137356|
|  Male|72.4183166259878|196.028506330482|1902.9445362842846|
|  Male| 63.974325721061| 172.88347020878|1899.7789845678842|
|  Male|69.6400598997523| 185.98395757313|1877.4642405839663|
|  Male|67.9360048540095|182.426648013226|1887.7461786116346|
+------+----------------+----------------+------------------+
only showing top 20 rows